<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas Mon</title>
</head>
<body>

    <h1>Listado de recetas</h1>

    <!--Listado de recetas con la información de cada receta dentro de un div-->
    <!--th:each es el bucle "for" pero usado en Thymeleaf :)-->
    <div th:each="receta : ${recetas}">
        <h2 th:text="${receta.titulo}">Título</h2>
        <p th:text="${rectea.descripcion}">Descripción</p>
        <p th:text="${receta.pais}">País</p>
    </div>

    <!--Mensaje en caso de no tener ninguna receta-->
    <p th:if="${#lists.isEmpty(recetas)}">No hay ninguna receta por el momento.</p>
    
</body>
</html>