<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon - Buscar recetas</title>
</head>
<body>
    <h1>Buscar recetas</h1>
    <p>Hay muchas delicias esperando!! </p>

    <form th:action="${/recetas/buscar} method="get">
    
        <label>Ingrediente:</label>
        <input type="text" name="ingrediente" th:value="${ingrediente}">

        <label>País:</label>
        <input type="text" name="pais" th:value="${pais}">

        <label>Tipo de Dieta:</label>
        <input type="text" name="tipoDieta" th:value="${tipoDieta}">

        <label>Alergia/Intolerancia:</label>
        <input type="text" name="alergia" th:value="${alergia}">
    
    
    <button type="submit">Buscar</button>

    </form>

    <h2>Resultados</h2>

    <div th:each="receta : ${recetas}">
        <h3>
            <a th:href="@{/recetas/{id}(id=${receta.is})}" th:text="${receta.titulo}">Título</a>
        </h3>

        <p th:text="${receta.pais}">País</p>
        <p th:text="${receta.tipoDieta}">Tipo de Dieta</p>
    </div>

    <p th:if="${#lists.isEmpty(recetas)}">No se encontraron recetas</p>

    <a th:href="@{/recetas}">Volver a todas las recetas</a>

</body>
</html>