<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon - Recetas</title>
</head>
<body>
    <h1>Todas las Recetas</h1>
    
    <p sec:authorize="isAuthenticated()">LOGUEADO</p>
<p sec:authorize="!isAuthenticated()">NO LOGUEADO</p>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/recetas/nueva}">+ Nueva receta</a>
    </div>
    <div th:each="receta : ${recetas}">
        <h2>
            <a th:href="@{/recetas/{id}(id=${receta.id})}" th:text="${receta.titulo}">Título</a>
        </h2>
        <p th:text="${receta.pais}">País</p>
        <p th:text="${receta.tipoDieta}">Tipo de Dieta</p>
    </div>
    
    <p th:if="${#lists.isEmpty(recetas)}">No hay recetas de momento</p>
</body>
</html>